<%= render "shared/sidebar" %>
<div>
    <h2>アカウント</h2>
    <table>
        <tr>
            <th>メールアドレス</th>
            <td><%= @user.email %></td>
        </tr>
        <tr>
            <th>パスワード</th>
            <td><%= "*" * (@user.encrypted_password.length/10) %>
        </tr>
    </table>
    <div class="edit_user">
        <%= link_to "編集", edit_user_path(current_user) %>
    </div>
</div>
