<div class="sidebar_list">
    <div class="sidebar_channels">
        <ul class="sidebar_list">
            <%= sidebar_link_item("アカウント", users_path) %>
            <%= sidebar_link_item("プロフィール", user_path(current_user)) %>
        </ul>
    </div>
</div>
