<div>
    <table>
        <tr>
            <th>予約した部屋</th>
            <td><%= @inn.name %></td>
        </tr>
        <tr>
            <th>開始日</th>
            <td><%= @reserv.start_day %></td>
        </tr>
        <tr>
            <th>終了日</th>
            <td><%= @reserv.end_day %></td>
        </tr>
        <tr>
            <th>価格</th>
            <td><%= @reserv.fee %></td>
        </tr>
    </table>
</div>
