/* =============================================
        Common
==============================================*/

body {
    margin: 0px;
    padding-bottom: 180px;
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
}

header {
    background-color: black;
    padding: 4px 40px;
}

a {
    color: black;
    text-decoration: none;
}

.account-submit {
    color: white;
    cursor: pointer;
    background-color: blue;
    margin: 20px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid blue;
}

.delete {
    color: white;
    background-color: red;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
}

.goto-session {
    font-size: 16px;
    color: blue;
}

.form-text {
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    text-align: left;
    margin: 2px 2px 15px;
    width: 60%;
}

.field_with_errors {
    display: inline;
    background-color: red;
    padding: 15px 10px 15px 0px;
}

.flash-text {
    margin: 0;
    color: white;
    font-size: 18px;
    padding-left: 20px;
}

#error_explanation {
    border: red 1px solid;
    width: 50%;
    margin: 0 auto 15px;
}

#error_explanation h2 {
    color: white;
    background-color: red;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 2px;
}

#error_explanation ul {
    margin: 5px;
}
#error_explanation ul li {
    font-size: smaller;
}

.left-nav-menu {
    height: 100vh;
    width: 200px;
}

/* =============================================
        layout/application.html.erb
==============================================*/

.top-logo {
    vertical-align: middle;
}

.header-left {
    float: left;
}

.header-form {
    display: inline-block;
}

.search input {
    border: none;
    padding: 8px;
    text-align: left;
    margin-left: 30px;
    font-size: 16px;
}

.search-area{
    display: inline-block;
    position: relative;
    background-color: white;
}

.fas {
    font-size: 18px;
}

.fa-map-marker-alt, .fa-search{
    position: absolute;
    top: 10px;
    left: 10px
}

.search-keyword {
    display: inline-block;
    position: relative;
    background-color: white;
}

.no-display {
    display: none;
}

.header-right {
    float:right;
}

.clear-float {
    clear: both;
}

.login-nav {
    vertical-align: center;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.login {
    color: white;
    padding: 7px;
    background-color: #1134dd;
    border-radius: 5px;
    margin-right: 10px;
}

.Regist {
    color: white;
    background-color: #9d9e9f;
    padding: 7px;
    border-radius: 5px;
    margin-left: 10px;
}

.flex {
    display: flex;
}

#sidebar {
    display: none;
}

.user-image {
    border-radius: 100px;
    height: 65px;
    width: 65px;
}

.user-name {
    color: white;
    margin: 20px;
}

.sidebar_nav {
    background-color: white;
    position: absolute;
    padding: 15px;
    right: 5px;
    font-size: 16px;
    line-height: 2em;
    list-style: none;
    top: 64px;
    z-index: 2;
}


footer {
    background-color: black;
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

footer p {
    color: white;
    padding: 50px;
}


@media screen and (max-width: 950px) {
    .search-area {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .search-keyword {
        display: none;
    }
}

/* ========================================
        devise/registrations/new.html.erb
===========================================*/

.registration_top {
    margin: 20px auto;
    padding: 20px 0;
    width: 60%;
    text-align: center;
    border: 1px solid #55555f;
    border-radius: 8px;
}

.new-account {
    padding-top: 10px;
    font-size: 16px;
}

.essential {
    background-color: orange;
    border-radius: 5px;
    color: white;
    width: 50px;
    font-size: 14px;
    padding: 2px;
}

.new-account-submit {
    padding: 10px;
    width: 80%;
}


/* ==========================================
        devise/registrations/edit
========================================== */

.edit-password-top {
    border: 1px solid;
    margin: 10px auto;
    width: 40%;
    padding: 10px 20px;
    text-align: center
}

.edit-password-top h2 {
    font-weight: lighter;
    letter-spacing: 3px;
}

.edit-email-label, .edit-pass-label, .edit-confpass-label, .current-pass-label {
    margin: 5px 0;
}

.regist-email-field, .regist-pass-field, .regist-confpass-field, .regist-curpass-field {
    font-size: 18px;
    border: 1px solid #c8e2f1;
    border-radius: 5px;
    padding: 10px 15px;
    width: 70%;
}

.edit-email-content, .edit-pass-content, .edit-confpass-content, .current-pass-content {
    margin-bottom: 15px;
}

.pass-submit {
    width: 80%;
}

.edit-back a {
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 auto;
    padding: 8px 36%;
    color: blue;
}

/* ==========================================
        devise/sessions/new
========================================== */

.login_top {
    margin: 20px auto;
    padding: 20px 0;
    width: 60%;
    text-align: center;
    border: 1px solid #55555f;
    border-radius: 8px;
}

.login-submit {
    padding: 5px;
    width: 30%;
}


/* =============================================
    reservs/index.html.erb, inns/index.html.erb
==============================================*/

.reserved-room, .registered-room {
    padding: 10px 40px;
}

.reserved-title .registered-title {
    padding-bottom: 10px;
    letter-spacing: 5px;
}

.reserved-table, .registered-table {
    width: 100%;
    border-spacing: 0;

}

.reserved-tbody tr:nth-child(even) td,
.registered-tbody tr:nth-child(even) td {
    background-color: #d9d9f3;
}

.reserved-thead tr th,
.registered-thead tr th {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 15px 20px;
}


.th-created {
    width: 70px;
}

.reserved-tbody tr td,
.registered-tbody tr td {
    padding: 10px;
    text-align: center;
}

.reserved-image, .registered-image {
    width: 250px;
}

.reserved-name, .registered-name {
    width: 120px;
}

.reserved-name a, .registered-name a {
    color: blue;
    text-decoration: underline;
}

.reserved-intro, .registered-intro {
    width: 120px;
}

.reserved-fee, .registered-fee {
    width: 100px;
}

.reserved-fee::before,
.registered-fee::before {
    content: "¥ "
}

.reserved-sday, .reserved-eday {
    width: 1%;
    letter-spacing: 1px;
}

.reserved-sday, .reserved-eday, .reserved-created, .registered-created {
    font-size: 14px;
}

.reserved-delete, .registered-delete {
    width: 10%;
}

@media screen and (max-width: 950px) {
    .th-image, .reserved-image-box ,.registered-image-box {
        display: none;
    }
    .reserved-delete, .registered-delete {
        width: 10%;
    }
    .reserved-thead tr th, .registered-thead tr th {
        padding: 0;
        font-size: 14px;
    }
}

@media screen and (max-width: 750px) {
    .reserved-title h2 {
        font-size: 16px;
        margin: 5px;
    }
    .th-created, .reserved-created, .registered-created {
        display: none;
    }
    .reserved-tbody tr td {
        font-size: 12px;
    }

}

/* ==================================================
    sidebar shared/_sidebar, shared/_sidebar_inn
================================================== */
.sidebar_channels ul {
    list-style: none;
}

.sidebar_channels ul li a {
    font-size: 20px;
    font-weight: bolder;
    width: 100px;
    display: inline-block;
    margin: 5px 0;
}

.active{
    width: 120px;
    border-right: 3px solid blue;
}

.active a {
    color: blue;
}

@media screen and (max-width: 750px) {
    .sidebar_channels ul li a {
        font-size: 14px;
    }
}
