// Place all the styles related to the lodg controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* =============================================
        lodg/index.html.erb
==============================================*/

.top-main {
    background-image: url("img_cover_top.jpg");
    background-size: cover;
    height: 650px;
}

.top-container {
    display: flex;
    align-items: center;
    margin: 0 20%;
    height: 650px;
}

.top-form-area {
    background-color: white;
    border-radius: 5px;
    padding: 24px;
    max-width: 50%;
}

.top-form-area-title{
    font-size: 24px;
    font-weight: bolder;
    letter-spacing: 1px;
}

.top-form-label{
    display: block;
    font-size: 16px;
}

.top-form-text{
    padding: 5px;
    font-size: 20px;
    margin: 3% 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

.top-form-submit{
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #4a90e2;
    color: white;
    font-size: 16px;
    width: 100%;
    padding: 10px;
}

.recommend-box {
    flex-wrap: wrap;
    justify-content: space-between;
}

.recommend-area {
    margin: 3% 10%;
}

.recommend-title {
    font-weight: bold;
    margin: 25px 0;
    font-size: 30px;
}

.recommend-image {
    width: 23%;
    position: relative;
    text-align: center;
}

.area-text {
    position: absolute;
    display: inline;
    bottom: 30px;
    left: 40%;
    font-size: 24px;
    color: white;
    font-weight: bolder;
}

.top-image {
    width: 100%;
    height: 360px;
    object-fit: cover;
    vertical-align: middle;
}


.flash-lodg {
    background-color: #4a90e2;
}

@media screen and (max-width: 950px) {
    .top-form-area {
        max-width: 100%;
    }
    .top-container {
        margin: 0 10%;
    }
}

@media screen and (max-width: 750px) {
    .recommend-box {
        display: block;
    }
    .recommend-image {
        width: 100%;
    }
    .area-text {
        left: 45%;
    }
}
