// Place all the styles related to the reservs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* =============================================
        reservs/confirm.html.erb
==============================================*/

.reserv-conf-top {
    width: 50%;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid;
}

.conf-title {
        border-bottom: 1px solid;
        padding-bottom: 20px;
        font-weight: bold;
        font-size: 24px;
        letter-spacing: 1px;
}

.conf-price::before {
    content: "¥ ";
}

.conf-price {
    font-size: 20px;
    font-family: serif;
}

.conf-sday-box, .conf-eday-box {
    margin-bottom: 20px;
}

.conf-sday-label, .conf-eday-label, .conf-fee-label {
    margin: 2px 0;
    letter-spacing: 3px;
    font-size: 18px;
}

.conf-sday-field, .conf-eday-field, .conf-fee-field {
    width: 100%;
    background-color: #d7f4f7;
    border: 1px solid #c0baba;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.days-box, .numpepo, .conf-text {
    font-size: 18px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.conf-submit {
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 10px;
}

.return-room-submit {
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: #55555f;
    border: 1px solid #55555f;
    border-radius: 5px;
}

@media screen and (max-width: 950px) {
    .conf-sday-label, .conf-eday-label, .conf-fee-label, .conf-sday-field, .conf-eday-field, .conf-fee-field, .days-box, .numpepo, .conf-text {
        font-size: 14px;
    }

}

@media screen and (max-width: 750px) {
    .conf-title, .conf-price {
        font-size: 16px;
    }

}


/* ==================================================
    reservs/notice.html.erb
================================================== */
.flash-reserv-notice {
    background-color: #f097eb;
}

.content {
    width: 70%;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid;
    border-radius: 5px;
}

.notice-name-box, .notice-sday-box, .notice-eday-box, .notice-fee-box {
    align-items: center;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.notice-fee-box {
    border: none;
    margin: 0px;
}

.notice-name-label, .notice-sday-label, .notice-eday-label, .notice-fee-label {
    margin: 10px;
    width: 20%;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}


@media screen and (max-width: 950px) {
    .notice-name-box, .notice-sday-box, .notice-eday-box, .notice-fee-box {
        display: block;
        text-align: center;
    }
    .notice-name-label, .notice-sday-label, .notice-eday-label, .notice-fee-label {
        width: 100%;
    }
}
