// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* ========================================
        users/index.html.erb
===========================================*/
.user-account {
    background-color: #f0eaea;
    width: 100%;
    border-left: 1px solid #dbd4d4
}

.user-account-box {
    width: 80%;
    margin: 40px auto;
    padding: 5px;
    background-color: white;

}

.user-account-box h2 {
    border-bottom: 1px solid;
    padding-bottom: 20px;
    margin: 20px;
}

.email-box, .pass-box {
    border-bottom: 1px solid;
    margin: 20px;
    padding-bottom: 10px;
}

.email-label, .pass-label {
    margin-right: 40px;
    font-weight: bold;
}

.user-email {
    margin: 10px 70px;
}

.user-pass {
    margin: 10px 100px;
}

.edit-user {
    margin-bottom: 20px;
}
.edit-user-submit {
    padding: 10px 50px;
}


@media screen and (max-width: 750px) {
    .email-box, .pass-box {
        display: block;
    }

}
/* ========================================
        users/edit.html.erb
===========================================*/

.user-prof {
    background-color: #f0eaea;
    width: 100%;
    border-left: 1px solid #dbd4d4
}

.user-prof-box {
    width: 80%;
    margin: 40px auto;
    padding: 5px 20px;
    background-color: white;
}

.user-prof-box h2 {
    border-bottom: 1px solid;
    margin: 20px 10px 0 10px;
    padding-bottom: 20px;
}

.edit-user-image {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid;
    margin: 0 10px;
}


.edit-prof-image, .edit-prof-name, .edit-prof-intro {
    margin: 0 10px;
    border-bottom: 1px solid black;
    padding: 20px 0;
}

.prof-image-label label, .prof-name-label label, .prof-intro-label label {
    font-weight: bold;
    padding-right: 10px;
}

.prof-image-content, .prof-name-content, .prof-intro-content {
    margin: auto;
}

.prof-name-field {
    width: 300px;
    padding: 3px 0 3px 15px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid black;
}

.prof-intro-field {
    width: 340px;
    height: 120px;
    border-radius: 5px;
    padding: 10px 0 0 15px;
    border: 1px solid black;
}

.edit-prof-submit {
    padding: 10px 80px;
}

@media screen and (max-width: 950px) {
    .edit-prof-image, .edit-prof-name, .edit-prof-intro {
        display: block;
        text-align: center;
    }
    .prof-name-field, .prof-intro-field{
        width: 60%;
    }
}
